#header{
    font-size: 40px;
    text-align: center;
    background-color: darkkhaki;
}

#log{
    color: brown;
   
    height: 30px;
    background-color: rgb(228, 212, 192);
}

#q1{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
p{
    display: none;
} 
#q1:hover p{
    display: block;
}
#q2:hover p{
    display: block;
}
#q3:hover p{
    display: block;
}
#q4:hover p{
    display: block;
}
#q5:hover p{
    display: block;
}
#q6:hover p{
    display: block;
}
#q7:hover p{
    display: block;
}
#q8:hover p{
    display: block;
}
#q9:hover p{
    display: block;
}

#q2{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: olive;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
#q3{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
#q4{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: red;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
#q5{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: darkorange;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
#q6{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: cyan;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}

#q7{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: chocolate;
    padding: 10px;
    margin: 10px; 
    text-align: center;
    line-height:40px;
}
#q8{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: chartreuse;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
#q9{
    float:left; display:block;

    width:25%;
	height:100px;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:40px;
}
#contenitore{
    
    position: absolute;
    
    width: 90%;
    height: 90%;
    left:8%;
    right: 8%;
}
#q0{
    float:left; display:block;
    font-size: 45px;
    width:25%;
	height:100px;
    background-color: lightsteelblue;
    padding: 10px;
    margin: 10px;
    text-align: center;
    line-height:100px;
}

#container{
    margin: 20px;
    padding: 20px;
}

#giallo{
    background-color: yellow;
    height: 400px;
    width: 400px;
}